<!-- Generated template for the TableViewComponent component -->
<div>
	<ion-select [(ngModel)]="Boundary" (ionChange)="onSelectChange($event)" interface="popover" *ngIf="!isNation">
		<ion-option *ngFor="let boundary of Boundaries; let i=index" [value]="i">{{ boundary }}</ion-option>
	</ion-select>
	<table>
		<thead>
			<tr>
				<th>Candidate</th>
				<th>Political Party</th>
				<th>Valid Votes Obtained</th>
				<th>Percentage</th>
			</tr>
		</thead>
		<tbody *ngIf="candidatesEnable()">
			<tr *ngFor="let result of Results; let i = index">
				<td><a (click)="gotoCandidateDetail(result['Candidate_SLEOP_ID'])">{{ result['CandidateFullName'] }} <i class="fa fa-check-circle" *ngIf="i == 0"></i></a></td>
				<td><a (click)="gotoPartyDetail(result['CandidatePoliticalParty'])">{{ result['CandidatePoliticalParty'] }}</a></td>
				<td>{{ result['ValidVotes'] }}</td>
				<td>{{ result['ValidVotesPercentage'] }}</td>
			</tr>
		</tbody>
		<tbody *ngIf="!candidatesEnable()">
			<tr>
				<td colspan="4">There are no election datas</td>
			</tr>
		</tbody>
	</table>
</div>
