<!--
  Generated template for the PresidentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header-view>
  <ion-navbar color="dark" sub-navbar>
    <a float-left *ngIf="nextEnabled" (click)="setNextPage()" padding-left>
      <ion-icon name="arrow-back" item-start></ion-icon> {{nextYear}}
    </a>
    <ion-title>
      {{year}} Presidential Elections
    </ion-title>
    <a float-right *ngIf="prevEnabled" (click)="setPrevPage()" padding-right>
      {{prevYear}} <ion-icon name="arrow-forward" item-start></ion-icon>
    </a>
  </ion-navbar>
</header-view>

<ion-content padding>
  <ion-slides (ionSlideDidChange)="slideChanged()" dir="rtl">

    <ion-slide *ngFor="let p of subpages; let i = index">
      <content-view type="president" [year]="p.year" [region]="region" #president_{{i}}></content-view>
    </ion-slide>

  </ion-slides>
</ion-content>
