<!-- Generated template for the ContentViewComponent component -->
<div>
	<ion-toolbar class="viewModeToolbar">
		<button ion-button (click)="setMapMode(true)" [ngClass]="{'active': mapMode}" class="modeButton" float-left>
			Map&nbsp;<i class="fa fa-globe"></i>
		</button>
		<ion-title text-center>{{ resultRegion }}</ion-title>
		<ion-buttons float-right left>
			<button ion-button (click)="setMapMode(false)" [ngClass]="{'active': !mapMode}" class="modeButton">
				Table&nbsp;<i class="fa fa-table"></i>
			</button>
		</ion-buttons>
	</ion-toolbar>
	<map-view *ngIf="mapMode" [year]="year" [region]="region" [type]="type" #mapview>
	</map-view>
	<table-view *ngIf="!mapMode" [year]="year" [region]="region" [type]="type">
	</table-view>
</div>
