<!-- Generated template for the RangeViewComponent component -->
<ion-list>
	<ion-list-header>Result Granularity</ion-list-header>
	<button ion-item (click)="seletGranularity('nation')">National Results</button>
	<button ion-item (click)="seletGranularity('district')">Results By District</button>
	<button ion-item (click)="seletGranularity('constituency')">Results By Constituency</button>
	<button ion-item (click)="seletGranularity('ward')">Results By Ward</button>
	<button ion-item (click)="seletGranularity('polling_center')">Results By Polling Center</button>
	<button ion-item (click)="seletGranularity('polling_station')">Results By Polling Station</button>
</ion-list>