map-view {
    .small {
    	font-size: 1rem;
    }
	.view-container {
		.map {
			position: unset !important;
			height: 50vh;
			canvas {
				left: 0;
			}
			.mapboxgl-ctrl-logo {
				display: none;
			}
		}
		.election-details {
			bottom: 0;
			& > div {
				padding-top: 10px;
			}
			.party-card {
				width: 60%;
				height: 12px;
				margin: auto;
				margin-top: 2px;
			}
			.election-competitors {
				font-size: 14px;
				padding-top: 0;
				ion-col {
					padding: 0;
					padding-top: 20px;
					.card {
						border: 2px solid #000;
						border-right: none;
						height: 20px;
						line-height: 16px;
						position: relative;
						img {
							width: 80px;
							max-height: none;
							position: absolute;
							bottom: 0;
							left: 0;
						}
					}
					&:last-child {
						.card {
							border-right: 2px solid #000;
						}
					}
				}
			}
		}
	}
}
.platform-mobile {
	map-view {
		.view-container {
			.election-details {
				.small {
					font-size: 0.8rem;
				}
				.election-competitors {
					ion-col {
						img {
							width: 60px;
						}
						&:first-child {
							img {
								left: 0
							}
						}
						&:last-child {
							img {
								right: 0;
								left: unset;
							}
						}
					}
				}
			}
		}
	}
}
.platform-tablet {
	map-view {
		.view-container {
			.map {
				height: 35vh;
			}
		}
	}
}
.platform-core {
	.view-container {
		.map {
			height: 35vh;
		}
	}
}