<!-- Generated template for the MapViewComponent component -->
<div class="view-container">
	<div id="{{year}}_map" class="map box">
	</div>
	<div class="election-details">
		<div class="election-info">
			<ion-grid no-padding>
				<ion-row>
					<ion-col text-left class="small">
						Total Registered Votes: {{ result.TotalVotes }}<br>
						Result Status: {{ result.ResultStatus }}
					</ion-col>
					<ion-col text-right class="small">
						Total Valid Votes: {{ result.ValidVotes }}<br>
						Total Invalid Votes: {{ result.InvalidVotes }}
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div class="election-parties">
			<ion-grid no-padding>
				<ion-row>
					<ion-col *ngFor="let party of result.Parties">
						<small>{{ party.Acronym }}</small>
						<div class="party-card" [style.background-color]="colorFilter(party.Color)"></div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
		<div class="election-competitors">
			<ion-grid hideWhen="core,tablet" padding-top>
				<ion-row *ngIf="result.Candidates.length > 1">
					<ion-col>
						<div padding-bottom text-right>
							{{ result.Candidates[0].percent }} %
						</div>
						<div class="card" [style.background-color]="colorFilter(result.Candidates[0].color)">
							<img src="/assets/imgs/avatar.png" *ngIf="!result.Candidates[0].photo">
							<img src="{{ setPhotoUrl(result.Candidates[0].photo) }}" *ngIf="result.Candidates[0].photo">
						</div>
					</ion-col>
					<ion-col width-25 text-center>
						<div padding-bottom>{{ currentPercent(result.Candidates) }} %</div>
						<div class="card">All Others</div>
					</ion-col>
					<ion-col>
						<div padding-bottom text-left>
							{{ result.Candidates[1].percent }} %
						</div>
						<div class="card" [style.background-color]="colorFilter(result.Candidates[1].color)">
							<img src="/assets/imgs/avatar.png" *ngIf="!result.Candidates[1].photo">
							<img src="{{ setPhotoUrl(result.Candidates[1].photo) }}" *ngIf="result.Candidates[1].photo">
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-grid showWhen="tablet">
				<ion-row *ngFor="let row of transform2d(result.Candidates, 3, 6)">
					<ion-col *ngFor="let candidate of row;">
						<div padding-bottom>
							{{ candidate.percent }} %
						</div>
						<div class="card" [style.background-color]="colorFilter(candidate.color)">
							<img src="/assets/imgs/avatar.png" padding-left *ngIf="!candidate.photo">
							<img src="{{ setPhotoUrl(candidate.photo) }}" padding-left *ngIf="candidate.photo">
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
			<ion-grid showWhen="core">
				<ion-row *ngFor="let row of transform2d(result.Candidates, 4, 12)">
					<ion-col *ngFor="let candidate of row;" col-3>
						<div padding-bottom>
							{{ candidate.percent }} %
						</div>
						<div class="card" [style.background-color]="colorFilter(candidate.color)">
							<img src="/assets/imgs/avatar.png" padding-left *ngIf="!candidate.photo">
							<img src="{{ setPhotoUrl(candidate.photo) }}" padding-left *ngIf="candidate.photo">
						</div>
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</div>