map-view {
    .small {
    	font-size: 1rem;
    }
	.view-container {
		.map {
			position: unset !important;
			height: 50vh;
			canvas {
				position: unset !important;
			}
			.mapboxgl-ctrl-logo {
				display: none;
			}
		}
		.election-details {
			bottom: 0;
			& > div {
				padding-top: 10px;
			}
			.party-card {
				width: 60%;
				height: 12px;
				margin: auto;
				margin-top: 2px;
			}
			.election-competitors {
				font-size: 14px;
				padding-top: 0;
				ion-row {
					padding-top: 40px;
				}
				ion-col {
					.card {
						border: 2px solid #000;
						border-left: none;
						height: 20px;
						line-height: 16px;
						position: relative;
						img {
							width: 60px;
							max-height: none;
							position: absolute;
							bottom: 0;
						}
					}
					&:last-child {
						.card {
							border-left: 2px solid #000;
							img {
								left: 0;
							}
						}
					}
				}
			}
		}
	}
}
.platform-ios {
	map-view {
		.small {
			font-size: 0.8rem;
		}
	}
}
.platform-tablet {
	map-view {
		.view-container {
			.map {
				height: 35vh;
			}
		}
	}
}
.platform-core {
	.view-container {
		.map {
			height: 35vh;
		}
	}
}